p Hello&nbsp;
    strong #{name},
p A new account has been created with success for you
p Your username is:&nbsp;
    strong #{username}
p You need activate your account to grant access My Instagram platform
p Your activation code is:&nbsp;
    strong #{code}
p
    small My Instagram,
p
    small Thanks
